@font-face {
    font-family: voyage;
    src: url("../../assets/fonts/Voyage-Regular.otf") format("opentype");
}

.imgBox{
    max-height: 500px;
    overflow: hidden;
    object-fit: cover;
}

.fnt{
    font-family: "voyage";
}

.artTleFnt{
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR CSS */
.navbar{
    display: flex;
    width: 100%;
    height: 150px;
    /* border: 2px solid black; */
    background-color: #f7f8f3;
}

.section1{
    margin-top: 40px;
    /* border: 2px solid black; */
    width: 40%;
}

.category1{
    margin-left: 30px;
    display: flex;
    padding: 6px;
}

.category1 p{
    margin: 0px 0px;    
    margin-right: 20px;
    font-size: 11px;
    cursor: pointer;
    color: #3d3d3d;
}
.category1 p:hover{
    font-weight: bold;
}

.category2{
    margin-left: 30px;
    display: flex;
    padding: 6px;
}

.category2 p{
    margin: 0px 0px;    
    margin-right: 20px;
    font-size: 11px;
    cursor: pointer;
    color: #3d3d3d;
}
.category2 p:hover{
    font-weight: bold;
}

.section2{
    /* border: 2px solid black; */
    width: 15%;
    height: 100px;
}

.section2 p{
    margin: 0px 0px;
}

.section3{
    /* border: 2px solid black; */
    width: 40%;
    height: 120px;
    display: flex;
}

.s3category1{
    margin-left: 30px;
    display: flex;
    padding: 6px;
    position: absolute;
    right: 10px;
}

.s3category1 p{
    margin: 0px 0px;
    margin-right: 25px;
    font-size: 11px;
    cursor: pointer;
    color: #3d3d3d;
}
.s3category1 p:hover{
    font-weight: bold;
}

.s3category2{
    margin-left: 30px;
    display: flex;
    padding: 6px;
    position: absolute;
    right: 16px;
    top: 50px;
}

.s3category2 p{
    margin: 0px 0px;    
    margin-right: 30px;
    font-size: 12px;
    cursor: pointer;
    color: #3d3d3d;
}
.s3category2 p:hover{
    font-weight: bold;
}

.fa-solid{
    position: absolute;
    right: 16px;
}

/* Main Section */

.mainSection{
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.alignCenter{
    width: 100%;
    margin-top: 3%;
}

.alignCenter p{
    margin: 0px 0px;
}

.article{
    width: 50%;
    margin-top: 30px;
}

.category{
    font-weight: 50;
    font-size: 10px;
}

.articleHeading{
    font-size: 50px;
}

.article img{
    width: 100%;
}

.descArticle{
    margin-top: 40px;
    font-weight: lighter;
    display: flex;
    text-align: center;
}

.articleRefer{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 30px;
}

.article1 img{
    width: 100%;
    object-fit: contain;
}
.article2 img{
    width: 100%;
    object-fit: contain;
}

.mrg{
    margin: 20px;
}

.description{
    width: 50%;
    margin: 20px;
}

.description p{
    margin-top: 20px;
    font-size: 13px;
    font-weight:300;
}

.description img{
    margin-top: 40px;
    width: 100%;
    object-fit: contain;
}

.writers{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe4dc;
}

.writerDesc{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.imgCircle img{
    border-radius: 70px;
    width: 150px;
}

.descWriter{
    padding:30px;
}

.bottomSection{
    display: block;
    width: 100%;
    margin-top: 10px;
}

.navigationBar{
    margin-top: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: -280px */
}

.navigationBar p{
    margin-right: 50px;
    cursor: pointer;
}

.navigationBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.hide {
    display: none;
}

#material-tabs {
    z-index: 100;
    position: relative;
    display: block;
    padding: 0;
    /* border-bottom: 1px solid #e0e0e0; */
}

#material-tabs>a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 22px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    justify-content: center;
    color: #424f5a;
    text-align: center;
    margin: 0px 80px;
}

#material-tabs>a.active {
    font-weight: 700;
    outline: none;
}

@media only screen and (max-width: 520px) {
    .nav-tabs#material-tabs>li>a {
        font-size: 11px;
    }
}

.yellow-bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 1px;
    background: #141514;
    display: block;
    left: 0;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}

#tab1 {
    overflow: hidden;
    min-height: 850px;
    height: auto;
}

#tab1-tab.active~span.yellow-bar {
    left: 50px;
    width: 250px;
}

#tab2-tab.active~span.yellow-bar {
    left: 395px;
    width: 250px;
}


.articleImgs{
    /* margin-top: 20px; */
    max-width: 98%;
  margin: auto;
  columns: 3 360px;
  column-gap: 35px;
    padding: 25px;
}

.img1{
    overflow: auto;
}

.boxmargin{
    margin: 5px;
}

.articleImgs{
    max-width: 98%;
    margin: auto;
    columns: 3 360px;
    column-gap: 35px;
      padding: 25px;
}

.articleimgWidth{
    width: 100%;
}

.article1{
    width: 50%;
}

.article2{
    width: 50%;
    margin-left: 40px;
}

.articleTitle{
    margin-top: 15px;
}

.articleTitle p{
    font-size: 20px;
    color: #0f0f0f;
}

.articleDesc{
    font-size: 13px;
    font-weight: 300;
}

.articleCate p{
    color: #c9c9ca;
    font-size: 11px;
    margin-bottom: 70px;

}

.writerDescription{
    font-size: 15px;
}

.footer{
    background-color: #f7f8f3;
    display: flex;
    width: 100%;
}

.footerNav{
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.leftPart{
    width: 40%;
    margin-left: 30px;
    display: flex;
}

.abt{
    display: flex;
}

.stack p{
    font-size: 10px;
    line-height: 8px;
    cursor: pointer;
}

.stack p:hover{
    font-weight: bold;
}

.list p{
    font-size: 10px;
    line-height: 8px;
    cursor: pointer;
}
.list p:hover{
    font-weight: bold;
}

.logoPart{
    width: 20%;
}

.rightPart{
    position: absolute;
    right: 20px;
    width: 17%;
}

.email{
    margin-top: 35px;
}

.emailFnt{
    font-size: 11px;
    position: absolute;
    right: 40px;
}

.icons{
    position: absolute;
    right: 0px;
}

.fa-brands{
    margin: 10px;
}


/* carousel */

.carousel{
    width: 100%;
}

.shopArticle{
    background-color: #f7f8f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.shopArctHead{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopArctHead p{
    margin: 0px 0px;
}

.carousel-item{
    display: flex;
}

.card{
    margin: 20px;
    border: 0px;
}

.card-body{
    background-color: #f7f8f3;
    padding: 0px 0px;
}
.brandPrice{
    display: flex;
    margin-top: 20px;
}
.brandName{
    margin: 0px 0px;
    font-size: 10px;
    font-weight: 300;
}

.price{
    position: absolute;
    right: 0px;
    font-size: 10px;
    font-weight: 300;
}

.cart-text{
    margin: 5px 0px;
    font-size: 10px;
    font-weight: 300;
}

.cart{
    margin-top: 13px;
    background-color: white;
    width: 100%;
    border-radius: 0px;
    font-size: 10px;
    font-weight: 300;
    padding: 10px;
}

.cart:hover{
    background-color: white;
}


/* NEW COURSEL */

.w-100{
    display: flex;
    justify-content: center;
}

.imgBox{
    max-height: 500px;
    overflow: hidden;
    object-fit: cover;
}

@media only screen and (max-width: 825px) {

    .articleTitle p{
        font-size: 17px;
    }

    .articleDesc p{
        font-size:11px ;
    }

    .articleCate p{
        font-size: 9px;
    }

    #material-tabs>a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 22px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 300;
        justify-content: center;
        color: #424f5a;
        text-align: center;
        margin: 0px 14px;
    }
    #tab1-tab.active~span.yellow-bar {
        left: 8px;
        width: 200px;
    }
    
    #tab2-tab.active~span.yellow-bar {
        left: 215px;
        width: 200px;
    }

}

@media only screen and (max-width: 590px) {

    .articleTitle p{
        font-size: 18px;
    }

    .articleDesc p{
        font-size:12px ;
    }

    .articleCate p{
        font-size: 10px;
    }

    #material-tabs>a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 22px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 300;
        justify-content: center;
        color: #424f5a;
        text-align: center;
        margin: 0px 14px;
    }
    #tab1-tab.active~span.yellow-bar {
        left: 10px;
        width: 180px;
    }
    
    #tab2-tab.active~span.yellow-bar {
        left: 200px;
        width: 180px;
    }

}

@media only screen and (max-width: 435px) {
    .articleHeading{
        font-size: 35px;
    }
    .category{
        font-size: 10px;
    }
    .article{
        width: 60%;
    }
    .descArticle{
        font-size: 13px;
    }

    .articleRefer{
        flex-direction: column;
    }

    .article1{
        width: 100%;
    }

    .article2{
        width: 100%;
        margin-left: 0px;
        margin: 20px;
    }

    .description{
        width: 70%;
        margin: 10px;
    }
    .brandPrice p{   
        font-size: 5px;
    }
    .shopTitle{
        font-size: 12px;
    }
    .shopArticleTitle{
        font-size: 20px;
    }
    .card{
        margin: 10px;
    }
    .cart-text{
        margin: 0px 0px;
        font-weight: 200;
        font-size: 5px;
    }
    .cart{
        font-weight: normal;
        font-size: 5px;
    }

    .description p{
        font-size: 10px;
    }

    /* Writers Section */
    .writerDesc{
        width: 100%;
        padding: 0px 12px;
    }
    .imgCircle{
        width: 40%;
    }
    .imgCircle img{
        width: 100%;
    }
    .descWriter{
        margin-left: 10px;
        width: 60%;
        padding: 10px;
    }
    .writersName{
        font-size: 20px;
    }
    .writerDescription{
        font-size: 10px;
    }
    .writerlink{
        font-size: 8px;
    }

    .articleTitle p{
        font-size: 18px;
    }

    .articleDesc p{
        font-size:12px ;
    }

    .articleCate p{
        font-size: 10px;
    }

    #material-tabs>a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 22px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 300;
        justify-content: center;
        color: #424f5a;
        text-align: center;
        margin: 0px 14px;
    }
    #tab1-tab.active~span.yellow-bar {
        left: 10px;
        width: 180px;
    }
    
    #tab2-tab.active~span.yellow-bar {
        left: 200px;
        width: 180px;
    }

}

@media only screen and (max-width: 385px) {
    .articleHeading{
        font-size: 35px;
    }
    .category{
        font-size: 10px;
    }
    .article{
        width: 60%;
    }
    .descArticle{
        font-size: 13px;
    }

    .articleRefer{
        flex-direction: column;
    }

    .article1{
        width: 100%;
    }

    .article2{
        width: 100%;
        margin-left: 0px;
        margin: 20px;
    }

    .description{
        width: 70%;
        margin: 10px;
    }
    .brandPrice p{   
        font-size: 5px;
    }
    .shopTitle{
        font-size: 12px;
    }
    .shopArticleTitle{
        font-size: 20px;
    }
    .card{
        margin: 10px;
    }
    .cart-text{
        margin: 0px 0px;
        font-weight: 200;
        font-size: 5px;
    }
    .cart{
        font-weight: normal;
        font-size: 5px;
    }

    .description p{
        font-size: 10px;
    }

    /* Writers Section */
    .writerDesc{
        width: 100%;
        padding: 0px 12px;
    }
    .imgCircle{
        width: 40%;
    }
    .imgCircle img{
        width: 100%;
    }
    .descWriter{
        margin-left: 10px;
        width: 60%;
        padding: 10px;
    }
    .writersName{
        font-size: 20px;
    }
    .writerDescription{
        font-size: 10px;
    }
    .writerlink{
        font-size: 8px;
    }

    .articleTitle p{
        font-size: 18px;
    }

    .articleDesc p{
        font-size:12px ;
    }

    .articleCate p{
        font-size: 10px;
    }

    #material-tabs>a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 20px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 300;
        justify-content: center;
        color: #424f5a;
        text-align: center;
        margin: 0px 5px;
    }
    #tab1-tab.active~span.yellow-bar {
        left: 5px;
        width: 155px;
    }
    
    #tab2-tab.active~span.yellow-bar {
        left: 170px;
        width: 145px;
    }

}

@media only screen and (max-width: 320px) {

    .articleHeading{
        font-size: 35px;
    }
    .category{
        font-size: 10px;
    }
    .article{
        width: 60%;
    }
    .descArticle{
        font-size: 13px;
    }

    .articleRefer{
        flex-direction: column;
    }

    .article1{
        width: 100%;
    }

    .article2{
        width: 100%;
        margin-left: 0px;
        margin: 20px;
    }

    .description{
        width: 70%;
        margin: 10px;
    }
    .brandPrice p{   
        font-size: 5px;
    }
    .shopTitle{
        font-size: 12px;
    }
    .shopArticleTitle{
        font-size: 20px;
    }
    .card{
        margin: 10px;
    }
    .cart-text{
        margin: 0px 0px;
        font-weight: 200;
        font-size: 5px;
    }
    .cart{
        font-weight: normal;
        font-size: 5px;
    }

    .description p{
        font-size: 10px;
    }

    /* Writers Section */
    .writerDesc{
        width: 100%;
        padding: 0px 12px;
    }
    .imgCircle{
        width: 40%;
    }
    .imgCircle img{
        width: 100%;
    }
    .descWriter{
        margin-left: 10px;
        width: 60%;
        padding: 10px;
    }
    .writersName{
        font-size: 20px;
    }
    .writerDescription{
        font-size: 10px;
    }
    .writerlink{
        font-size: 8px;
    }

    .articleTitle p{
        font-size: 18px;
    }

    .articleDesc p{
        font-size:12px ;
    }

    .articleCate p{
        font-size: 10px;
    }

    #material-tabs>a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 20px;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 300;
        justify-content: center;
        color: #424f5a;
        text-align: center;
        margin: 0px 0px;
    }
    #tab1-tab.active~span.yellow-bar {
        left: 0px;
        width: 145px;
    }
    
    #tab2-tab.active~span.yellow-bar {
        left: 150px;
        width: 125px;
    }

}